body{
	background-color: lightgray;
}
h1{
	font-size: 30px;
	color: #FF5733;
}

h2{
	color: #D35400;
	font-size: 20px;
}

.big{
	font-size: 60px;
}

.uppercase{
	text-transform: uppercase;
}

.big.uppercase{
	color: #3386FF
}

h1 span{
	color: blueviolet;
}